/* .input{
  margin-left:5vh ;
  font-size: 4vh;
  }
.text{
 border: 1vh solid black;
 height: 70vh;
 width: 90vh; */
 /* padding: 40vh; */
/* }  */
/* .inputText{
 /* text-align:; */
 /* margin-top: 0vh; */
/* } */ 
/* .copyText{ */
  /* height: 20vh;
  width: 20vh; */
  /* color: blueviolet;
}
.proNote{
  margin-left:5vh ;
  font-size: 3vh;
}
.flix{
  display: flex;
  width: max-content
} */
